@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-top: 20px;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.nav--mobile {
    display: none;
}

.nav--left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav--desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

.nav--li {
    display: flex;
    margin-left: 30px;
}

.nav--login {
    margin-right: 20px;
}

header ul li {
    list-style: none;
    margin-left: 30px;
}

nav ul .nav--click {
    cursor: pointer;
}

.nav--Careers {
    cursor: default;
}

.btn--register {
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 1em;
    flex-direction: row-reverse;
}

.hero-mobile {
    display: none;
}

.section--dec {
    margin-top: 50px;
}

.section--dec p{
    margin-top: 30px;
    width: 400px;
    color: hsl(0, 0%, 41%);
    line-height:1.5;
}

.section--dec button{
    margin-top: 30px;
    padding: 13px;
    border-radius: 10px;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    font-weight: 700;
    width: 130px;
    cursor: pointer;
}

.section--logo {
    margin-top: 120px;
}

.section--logo ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section--logo ul img {
    margin-right: 30px;
}

.container--right img{
    margin-left: 200px;
    width: 400px;
}

h1 {
    font-weight: 700;
    font-size: 70px;
}

.attribution p{
    margin: 30px;
    font-size:18px;
}


/* button hover */
.dropdown--content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: auto;
    white-space: nowrap;
    padding: 20px;
    border-radius: 10px;
}

.dropdown--content a {
    color: black;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
}

.dropdown--content a img{
 text-align: center;
 margin-right: 7px;
}

.arrow--up {
    display: none;
}

.nav--click:hover .dropdown--content {
    display: block;
}

.nav--click:hover .arrow--down {
    display: none;
}
.nav--click:hover .arrow--up {
    display: inline;
}

/* sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: hsl(0, 0%, 98%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: hsl(0, 0%, 8%);
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav--nav ul li {
    margin: 20px;
    list-style: none;
  }

  .sidearrow--up {
    display: none;
  }

  .sidenav--a {
    display: none;
  }

  .sidenav--click {
    cursor: pointer;
  }

  .sidenav--login {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
  }

  .sidenav--register {
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
  }



@media screen and (max-width: 900px) {
    .container {
        display: inline;
    }

    .section--dec {
        text-align: center;
    }

    .section--dec p{
        width: auto;
    }

    .section--logo {
        margin-top: 50px;
    }

    .container--right img {
        margin: 0;
        width: 100%;
    }

    .hero-mobile {
        display: inline;
    }

    .hero-desktop {
        display: none;
    }

    .nav--desktop {
        display: none;
    }

    .nav--login {
        display: none;
    }

    .nav--mobile {
        display: inline;
        margin: 0 20px;
        cursor: pointer;
    }
}